@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: white;
    background-color: rgb(16, 16, 16);
    margin: 0;
    padding: 0;
    border: 0;
    padding-bottom: 75px;

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {cursor: pointer;}
a:active { text-decoration: none; }

hr {
    border-top: 1px solid #ffffff;
}

/* header section */

header {  
    height: 75px;
    margin: 0;
    padding: 0;   
}

.header-group {
    position: fixed;
    height: 75px;
    display: flex; 
    align-items: center;  
    width: 100%;
    z-index: 2;
    background-color: rgb(16, 16, 16);
}

.left-header {
    width: 35%;
    display: flex;
    justify-content: right; 
   
}

.center-header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    min-width: 100px;
}

.right-header {
    width: 35%;  
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
   
}

.header-logo {
    height: 55px;
}

#nav-menu li {
    display: inline-block; 
}

.left-li {
    margin-right: 30px;
}

.right-li {
    margin-left: 30px;
}


#nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;   
}

#nav-menu a:hover {
    border-bottom: 1px solid #ffffff;
}

#logo-wrap :hover {
    border: 1.5px solid #ffffff;
    border-radius: 50%;
   
}


.active {
    border-bottom: 1px solid #ffffff;
}


 

@media (max-width: 35em ) {

    #nav-menu {
        display: none;
    }

 
}



/* hero image section */

#hero-section {
    height: 600px;
    width: 100%; 
    overflow: hidden;
    position: relative;
}

#hero-image {
   
        height: 600px;
         width: 100%; 
         background: url('../images/hero\ 1\ PC.png')  no-repeat center center;
         animation-name: hero-zoom;
         animation-duration: 5s;
         animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#hero-two-section {
    height: 600px;
    width: 100%; 
    overflow: hidden;
    position: relative;
    margin-top: 20px;

}

#hero-two-image {
   
        height: 600px;
         width: 100%; 
         background: url('../images/FRAN\ hero2.png')  no-repeat center center;

         animation-name: hero-zoom;
         animation-duration: 5s;
         animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* releases page */

#release-container {
margin: 30px 60px;
}

#release-container hr {
    margin: 50px 0;
    z-index: 2; 
}

#release-container h1 {
    font-weight: 300;
    margin-bottom: 60px;
    font-size: 2rem;
}

.release-row {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.release-art-box {
 width: 60%;
 margin-left: 120px;

}

.release-art {
    max-width: 100%;
}

.release-info {
    margin-top: 20px;
    margin-left: 50px;

}

.release-info li {
    list-style-type: none;
}

.release-info p {
    margin-top: 10px;
}

.release-info h2 {
    font-weight: 300;
    font-size: 1.3rem;
}

.release-info ul {
    line-height: 2;
}


/* podcast gallery */

.podcast-container {
    width: 100%;
    margin-bottom: 20px;  
}

.pod-images {
    width: 100%;
}

.pod-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 30px;
    row-gap: 20px;
}

.podcast-title {
    margin-top: 6px;
    margin-bottom: 6px;
    text-decoration: none;  
    color: white;
}

.podcast-title a {
    color: white;
    text-decoration: none;
}

.podcast-gallery-title {
    width: 60%;
    margin: 0 auto;
}

.podcast-gallery-title h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}

.podcast-gallery-title p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;
}

/* podcast gallery media queries*/

@media screen and (max-width: 600px) {
    .pod-gallery {

        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:620px) and (max-width:950px)
{
    .pod-gallery {

        grid-template-columns: 1fr 1fr 1fr;
    }
}



/* podcast player page */

.soundcloud-container {
    height: 400px;
    width: 70%;
    margin: 0 auto;
}

.podcast-name {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.podcast-name h1 {
    font-size: 3rem;
}

.podcast-name h2 {
    font-size: 2rem;
}

.podcast-write-up {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .podcast-write-up {

    width: 90%;
    }

    .podcast-name {

        width: 90%;
        }

    .soundcloud-container {

    width: 90%;
    }
}


/* dark stream page */

#dark-stream-grid {
    

    margin: 20px 200px;
    row-gap: 50px;
    column-gap: 20px;
    
}

#dark-stream-grid hr {
    margin-bottom: 60px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: auto;
}

.video-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

#dark-stream-header {
    width: 100%;
    height: auto;
    
}

#darkstream-body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: white;
    background-color: rgb(16, 16, 16);
    margin: 0;
    padding: 0;
    border: 0;
    padding-bottom: 75px;
    background-image: url("../images/DS\ background\ logo.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
}

  #dark-stream-header h1 {
    text-align: center;
    font-weight:400;  
    font-size: 3rem;
    padding: 20px 0;
}

.dark-stream-info p {
    padding: 10px 20px;
    font-size: 1.1rem;
    overflow: auto;
    
}

.dark-stream-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 10px;
}

.dark-stream-info {
    background-color: rgba(0, 0, 0, .5)
}

.dark-stream-info {
    margin-top: 20px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1000px) {
    #dark-stream-grid {
  grid-template-columns: 1fr;
  margin: 20px 20px;
    }
}

/* artists  page */

.artist-page {
    width: 80%;
    margin: 0 auto;
}

.artists-title {
    font-weight: 200;
    font-size: x-large;
    margin: 30px 0;
}

.artist-container {
    width: 100%;
    margin-bottom: 20px; 
    
}

.artist-container h2 {
    text-align: center;
    margin-top: 1rem;
    font-weight: 300;
    font-size: xx-large;
    color: lightgrey
}

.artist-pic {
    width: 100%;
}

.artists-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
    place-items: center;
       
}

/* artist page media queries */

@media screen and (max-width: 600px) {
    .artists-grid {

        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:620px) and (max-width:950px)
{
    .artists-grid {

        grid-template-columns: 1fr 1fr;
    }
}

/* artist page section */

.artist-info-container {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    ;padding: 0 12%;
}

.artist-left {
    flex: 3;
}

.artist-left h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.artist-left p {
    margin: 30px 100px 0 0;
}

.artist-right {
    flex: 1;
}

.artist-right h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.artist-right hr {
    margin-bottom: 30px;
}


.artist-socials {
    display: flex;
    flex-direction: row;
    list-style: none  
}

.artist-socials i {
    font-size: 160%;
    color: #ffffff;
    padding-right: 20px;
    margin-bottom: 30px;
}

.photo-name {
    width: 400px;
}


.artist-pic-bio {
    max-width: 100%;
    max-height: 100%;
}

/* artist page responsive code*/

@media screen and (max-width: 800px) {
    .artist-info-container {
        display: block;
        margin: auto;
        padding: 0 8%;
        
    }

    .artist-right {
       margin-top: 30px;
    }

    .artist-left {
        width: 100%;
    
        margin: 0 auto;
    }
    .artist-left p{
       margin: 30px 0;
    }

    .artist-left h2 {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 15px;
        text-align: center;
    }

    .photo-name {
        width: 100%;
    }

}


/* footer */

footer {
    height: 75px;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(16, 16, 16);

}

#footer-parent {
    display: flex;
    justify-content: center;    
}

.social-networks {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 600px;   
}

.social-networks li {
    display: inline-block;
    
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;

}